@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/*=====COURSE SECTION ======*/
.narrow{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

